@font-face{
   font-family: code;
   src:url("../static/consola.ttf");
} 
#home-wrapper p:not(code p){
   color:#3b4148;
}
#home-wrapper blockquote{
   letter-spacing:.05rem;
   border-radius: 0.5rem;
   display: block;
   border-left: 0.5rem solid rgba(152, 209, 221, 0.389);
   padding: 1.5rem 1.2rem;
   margin: 1.8rem 0;
   line-height: 1.5;
   font-size: 1.5rem;
   background-color: rgba(236, 248, 255, 0.736);
   color:#121213;
   transition: 0.3s all;
}
#home-wrapper a{
   margin:0 0.3rem;
   color:rgba(59, 139, 157, 0.778);
}
#home-wrapper th{
   color:#778c90;
   padding: 0.4rem 0.5rem;
   
}
#home-wrapper td{
   font-size: 1.5rem;
   height: 100%;
   color:#54575c;
   padding: 0.6rem 0.5rem;
   border-top: 1px dashed #d5dee9;
   border-left: 1px dashed #e0eaf6;
   text-align: center;
}
#home-wrapper table *:nth-child(1){
   border-left: none;
}
#home-wrapper table{
   width: 100%;
   border: 1px solid #ebebeb;
    border-radius: 3px;
    transition: 0.3s all;
}
#home-wrapper table:hover{
   box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
}
.hljs {
   border: 1px solid #ebebeb;
    border-radius: 3px;
     background: #F6F8FA !important;  
    transition: 0.3s all;
}
.hljs:hover {
   box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
}
code{
   padding-left:0.3rem;
   margin-left:0.3rem;
   padding-right:0.3rem;
   margin-right:0.3rem;
   color:rgb(0, 124, 152);
   background-color: rgb(235, 247, 255);
   display: inline-block;
   font-family: code;
   font-size: 1.5rem;

}
pre code{
   font-weight: normal;
   font-size: 1.35rem;
   padding: 0.75rem !important;
   padding-left: 1.5rem !important;
   border-radius: 0.4rem;
   letter-spacing:.01rem;
   line-height: 1.6;
   color:#C5C8C6;
   margin-left: 0.2rem;
   margin-right: 0.2rem;
   background-color: rgb(40, 43, 56);
   display: inline-block;
   width:calc(100% - 2rem);
   overflow: auto;
}
pre ::-webkit-scrollbar-thumb {
   background-color: #d9d9d9;
}
pre ::-webkit-scrollbar-thumb:hover {
   background-color: #cacaca;
}
.small{
   padding-left:0.4rem;
   padding-right:0.4rem;
   color:rgb(2, 155, 190);
   background-color: #ECF8FF;
   display: inline-block;
}
hr{
   width:100%;
   border:0.15rem dashed #dddddd;
   border-top: none;
   margin:1rem 0 !important;
}
blockquote p{
   margin:0;
}
h2{
   margin-left:0rem;
   color:rgb(35, 72, 91);
   font-size: 2.5rem;
   padding-bottom: 0.5rem;
   border-bottom: dashed 1px rgb(224, 224, 224);
   letter-spacing: 0.12rem;
}
h2:hover,h3:hover{
   cursor:default;
   color:rgb(58, 105, 109);
}
h2:hover::before,h3:hover::before{
   
   opacity: 0.7;
}
h2::before{
   font:normal normal normal 14px/1 FontAwesome;
   content:"\f0c1";
   font-size: 1.8rem;
   margin-right: 1rem;
   color:rgb(49, 111, 126);
}
h3{
   color:rgb(70, 114, 118);
   font-size: 2rem;
   margin:0.8rem 0;
   margin-left:0rem;
}
/* h3::before{
   font:normal normal normal 14px/1 FontAwesome;
   content:"\f127";
   font-size: 1.4rem;
   margin-right: 1rem;
   color:rgb(49, 111, 126);
} */
ul{
   list-style: disc;
}
ul li,ol li{
   margin-left:3rem;
}
dd{
   width:auto;
   margin-inline-start: 0;
   border: 1px solid rgb(245, 245, 245);
   border-radius: 2px;
   padding: 5px 5px 18px 5px;
   position: relative;
}
dd::before{
   position: absolute;
   right: 0.5rem;
   bottom: -0.1rem;
   content: attr(n);
   font-size: 1.1rem;
   color:rgb(224, 224, 224);
}
@media screen and (max-width:768px){
   code{
      font-family:monospace;
      font-size: 1.2rem;
   }
}

